.menu {
  /*background: url("./imgs/will.jpeg") no-repeat;*/
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  padding: 0.8rem;
  background-color: rgb(225, 236, 233);
}

.navbar-nav li {
  padding-right: 45px;
}

.nav-link {
  font-size: 1.5em !important;
}

.nav-link i {
  color: rgb(30, 43, 104);
}

.fa-meteor {
  font-size: 3em;
  color: rgb(33, 51, 110);
}

.card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 6%;
  /*background: #569857;*/
  /*background: rgb(33, 51, 110);*/
  /*background: rgb(53, 71, 130);*/
  background: rgb(240, 240, 240);
  border-width: 3px;
  border-bottom-width: 6px;
  border-color: rgb(200, 200, 200);
  color: rgb(61, 61, 61);
  max-width: 60%;
  max-height: 90%;
  margin: 0 auto;
}

.card.active,
.card.active:hover {
  background: rgb(190, 190, 190);
}

.card:hover {
  cursor: pointer;
  background: rgb(205, 205, 205);
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-img-top {
  width: 50%;
  height: 7vw;
  object-fit: cover;
}

/*Nodes*/

.node circle.outer {
  z-index: -1;
  stroke-width: 8px;
  stroke: rgb(230, 230, 233);
  opacity: 1;
  fill: white;
}

.node circle.inner {
  z-index: 1;
}

.node circle {
  position: absolute;
}

.node.given circle.inner {
  fill: rgb(250, 198, 101);

  opacity: 1;
}

.node.incomplete circle.inner {
  fill: rgb(90, 97, 139);

  opacity: 1;
}

.node.complete circle.inner {
  fill: rgb(12, 175, 53);

  opacity: 1;
}

.node .circles:hover .outer {
  stroke: rgb(200, 200, 200);
  rotate: 90;
}

.node circle.inner:hover {
  cursor: pointer;
  transform: scale(0.95);
}

g text {
  pointer-events: none;
  text-transform: capitalize;
  font-weight: 100;
  font-family: "Trebuchet MS", sans-serif;
}

.area line {
  stroke: black;
  stroke-width: 1px;
  cursor: pointer;
  pointer-events: none;
}

.area line:hover {
  stroke: rgb(167, 167, 182);
  stroke-width: 2px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 5;
}

.theorem-info {
  width: 250px;
  height: 250px;

  display: grid;
  place-items: center;

  background: rgb(197, 193, 193);
  border: 2px solid black;
  text-align: center;

  position: relative;
}

.proof {
  width: 250px;
  height: 250px;
  padding: 25px 5px 0px 10px;

  background-color: rgb(235, 235, 235);
  border: 2px solid black;
  text-align: left;

  position: relative;
}

.verdict {
  width: 150px;
  height: 75px;

  display: grid;
  place-items: center;

  background-color: rgb(235, 235, 235);
  border: 2px solid black;
  text-align: center;

  position: relative;
}

.proof input[type="submit"] {
  margin-top: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  color: black;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
  transform: scale(1.3);
}

.proofbox {
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #b6a8a8;
  width: 15px;
  display: inline;
  background: rgb(235, 235, 235);
}

.ProfilePage {
  display: flex;
  justify-content: space-around;
}

.col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 40%;
}

.col2 {
  flex-basis: 20%;
}

.Achievement {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: space-around;
}

.Friends .ProfileCourses {
  border: 5px solid red;
  border-radius: 5%;
}

.ProfilePage .col1 {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}
